{% extends "base.html" %}
{% block title %}About Me | Krishna Verma{% endblock %}
{% block content %}
<section id="about-me" class="about-section intro-section">
    <div class="container">
        <div class="about-content-grid">
            <div class="about-title-container">
                <h1 class="about-title">About Me</h1>
            </div>
            <div class="about-text-container">
                <div class="about-mission-card">
                    <h2>My Vision</h2>
                    <p>
                        My vision is to be a leader in sustainable and efficient technology solutions. I aim to leverage
                        my skills in full-stack development to build platforms that are not only powerful and scalable
                        but also contribute positively to user experience and ecological mindfulness in software design.
                    </p>
                </div>
                <div class="about-mission-card">
                    <h2>My Mission</h2>
                    <p>
                        My Mission is to deliver exceptional code and impactful projects that solve real-world problems.
                        This involves continuous learning, meticulous attention to detail, and a commitment to
                        collaborating with diverse teams to drive innovation and maintain the highest standards of
                        development practice.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}