{% extends "base.html" %}
{% block title %}Home | Krishna Verma{% endblock %}
{% block content %}
    <section id="home" class="hero">
        <div class="hero-left">
            <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="Your Profile Picture" class="profile-img">
        </div>
        <div class="hero-right">
            <div class="hero-content">
                <div class="title-line">
                    <h1>My</h1> <div class="horizontal-line"></div>
                </div>
                <h1 class="portfolio-title">Portfolio</h1>
                <h2>Hello, I’m Krishna Verma</h2>
                <p class="description">
                Welcome to My Profile..! I am currently a Computer Science and Engineering Student at Sanskar College of Engineerng and Technology at Ghaziabad. 
                </p>
                <div class="hero-buttons">
                    <a href="{{ url_for('projects_page') }}" class="btn btn-explore"> <i class="fa-brands fa-searchengin"></i>Explore Now</a>
                    <a href="{{ url_for('introduction_page')}}" class="btn btn-my-introduction"><i class="fa-solid fa-square-pen"></i> My Introduction</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}